{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ 'page_title.game.index'|trans }}{% endblock %}

{% block content %}
    <h2>{{ 'subtitle.game.index.1'|trans }}</h2>

    <p class="attempts">
        {{ 'content.game.index.remaining_attempts'|transchoice(11) }}
    </p>

    <ul class="word_letters">
        <li class="letter hidden">
            ?
        </li>
        <li class="letter hidden">
            ?
        </li>
        <li class="letter hidden">
            ?
        </li>
        <li class="letter hidden">
            ?
        </li>
        <li class="letter hidden">
            ?
        </li>
        <li class="letter hidden">
            ?
        </li>
        <li class="letter hidden">
            ?
        </li>
        <li class="letter hidden">
            ?
        </li>
    </ul>

    <br class="clearfix" />

    <p class="attempts">
        <a href="/game/reset">{{ 'content.game.index.reset_link'|trans }}</a>
    </p>

    <br class="clearfix" />

    <h2>{{ 'subtitle.game.index.2'|trans }}</h2>

    <ul>
        {% for letter in 'A'..'Z' %}
            <li class="letter">
                <a href="/game/letter/{{ letter }}">
                    {{ letter }}
                </a>
            </li>
        {% endfor %}
    </ul>

    <h2>{{ 'subtitle.game.index.3'|trans }}</h2>

    <form action="/game/word" method="post">
        <p>
            <label for="word">{{ 'form.label.word'|trans }}</label>
            <input type="text" id="word" name="word"/>
            <button type="submit">{{ 'form.label.submit_word'|trans }}</button>
        </p>
    </form>
{% endblock %}
