{% extends 'base.html.twig' %}

{% block title %}{{ parent() ~ ' - ' ~ 'page_title.main.index'|trans }}{% endblock %}

{% block content %}
    <h2>{{ 'subtitle.main.index'|trans }}</h2>

    <form action="/login_check" method="post">
        <label for="username">{{ 'form.label.username'|trans }}</label>
        <input type="text" id="username" name="my_login" value="" />

        <label for="password">{{ 'form.label.password'|trans }}</label>
        <input type="password" id="password" name="my_secret" />

        <button type="submit">{{ 'form.label.login'|trans }}</button>
    </form>
{% endblock %}
