<div id="header">
    <div id="logo">
        <h1>
            <a href="{{ path('app_main_index') }}">{{ 'main_title'|trans }}</a>
        </h1>
    </div>
    <div id="menu">
        <ul>
            <li class="first current_page_item">
                <a href="{{ path('app_game_index') }}">{{ 'menu.game'|trans }}</a>
            </li>
            <li>
                <a href="{{ path('app_main_register') }}">{{ 'menu.register'|trans }}</a>
            </li>
            <li>
                {% if app.user %}
                    <a href="{{ path('app_security_logout') }}">{{ 'menu.logout'|trans }}</a>
                {% else %}
                    <a href="{{ path('app_main_index') }}">{{ 'menu.login'|trans }}</a>
                {% endif %}
            </li>
            <li>
                <a href="{{ path('app_main_contact') }}">{{ 'menu.contact'|trans }}</a>
            </li>
        </ul>
        <br class="clearfix" />
    </div>
</div>
